# production files
static/npm-debug.log
static/newbundle.js
static/package-lock.json
venv*
prod.env
.env
.idea/**
*.pyc
db.sqlite3
custom_settings.py
static/node_modules
logs/
data
progress
run.log
static/.idea
venv1