.top-select {
    color: rgb(60,60,60);
    position: fixed;
    left: 70px;
    width: 100%;
    z-index: 17;
    background-color: white;
    box-sizing: border-box;
    animation: .3s linear fade-in;
    transition: 0.5s transform, .8s opacity;
}

.hide-button {
    position: absolute;
    right: -10px;
    bottom: 0;
    margin-bottom: -23px;
    padding: 2px 33px;
    border-radius: 2px;
    z-index: -3;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    color: rgb(170,170,170);
    align-items: center;
}

.large-input-tab:hover {
    color: black;
    background-color: rgb(247,247,247);
    cursor: pointer;
}

.filter-item {
    font-weight: 300;
    font-family: "Roboto";
    font-size: 12px;
}

.large-input-tab {
    padding: 4px 20px 4px 10px;
    font-size: 14px;
    color: rgb(100,100,100);
    font-weight: 300;
    font-family: "Roboto";
    /*animation: .5s short-slide-and-fade-in;*/
}

.col-xs-9 {
    flex-basis: 80%;
    max-width: 80%;
}

.second-select {
    font-size: 15px;
    position: fixed;
    left: 70px;
    width: 100%;
    height: 43px;
    /* border-bottom: 1px solid rgb(40,47,64); */
    box-shadow: 0px 6px 6px -4px rgb(230, 230, 230);
    background-color: white;
    top: 50px;
    display: flex;
    z-index: 15;
    box-sizing: border-box;
    padding: 7px 25px 0px;
    animation: .3s linear fade-in;
    transition: 0.5s transform, .8s opacity;
}

.second-select > .tab-group {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    width: 275px;
}

.moving-vertical-border {
    position: absolute;
    width: 66px;
    transition: .3s ease-in-out;
}

.category-tab {
    color: rgb(120,127,144);
    display: flex;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    padding-top: 5px;
    border-radius: 5px 5px 0px 0px;
    transition: .3s background-color, .3s color, .3s border;
}

.category-tab:hover {
    color: rgb(50,57,74);
}

.col-xs-11 {
    flex-basis: 95.66666667%;
    max-width: 95.66666667%;
}

.row {
    justify-content: center;
    margin: 0 auto;
    flex-basis: 100%;
    width: 100%;
}

.hide-button:hover {
    color: #2d3445;
    opacity: .85;
}

.top-select-block {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding-right: 110px;
    font-family: "Roboto";
    align-items: center;
    transition: .5s all, 1.5s border;
}

.nostradamus-check {
    height: 18px;
    width: 18px;
}

.clickable {
    transition: .2s background-color;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    align-items: center;
    margin: 0px 13.5% 0px;
    color: black;
    font-weight: 400;
    justify-content: center;
    padding: 5px 8px;
}

.divider {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid rgb(230,240,250);
}

.clickable:hover {
    outline: 1px solid rgb(200, 220, 240);
}

.nostradamus {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    color: rgb(0,0,50);;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: .2s ease-out;
}

.control-bar {
    margin: 5px;
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    left: 5px;
    z-index: 2;
}

.x-axis > .tick:nth-child(odd) > text {
    transform: translateY(16px);
}

.x-axis > .tick > text {
    transform: translateY(2px);
}

.y-axis > .domain {
    color: transparent;
}

.domain {
    color: rgb(180,180,180);
}

.tick {
    color: rgb(225,225,225);
}

.nostradamus:hover {
    color: rgb(220,220,230);
    opacity: .92;
}

.pipeline-button {
    user-select: none;
    cursor: pointer;
    margin-bottom: 4px;
    display:flex;
    align-items: center;
}

.triage-data {
    opacity: .7;
    text-decoration: none;
    border-right: 1px solid rgb(160,160,160);
    color: rgba(100, 155, 255, 1);
}

.triage-data:hover {
    opacity: 1;
}

.toggle-title {
    font-size: 11px;
    margin-left: 5px;
    font-family: "Roboto";
    color: rgb(120,120,120);
    word-break: break-word;
}

.cancel {
    position: absolute;
    color: rgb(208,208,208);
    font-size: 15px;
    cursor: pointer;
    display: none;
    right: 0;
    top: 17px;
}

.category {
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}

.category-rows {
    margin: 5px auto 10px;
    text-align: end;
    width: 60%;
}
.row-element {
    padding-top: 10px;
    margin: 20px 50px 40px;
    font-size: 17px;
}

.unhealthy {
    color: rgb(255,0,0);
    padding: 3px;
}

.healthy {
    background-color: rgb(100,200,100);
    padding: 3px;
}

.filter-dropdown {
    position: absolute;
    z-index: 10;
    border-radius: 0px 0px 3px 3px;
    animation: .4s long-slide-and-fade-in-top;
    transition: .4s all;
    border: 1px solid rgb(190, 190, 190);
    border-top: none;
    background-color: rgb(252,252,252);
}

.regression-table {
    margin: 5px 10px;
    font-size: 12px;
    padding: 5px;
    width: 96%;
}

.regression-table > thead > tr > th {
    border-bottom: 1px solid rgb(180,180,180);
    height: 30px;
    text-align: start;
    color: rgb(160,160,160);
    padding: 5px;
}

.regression-table > tbody > tr > td {
    border-bottom: 1px solid rgb(240,240,240);
    padding: 5px;
    max-width: 250px;
    word-break: break-word;
}

.regress-tr:hover > td{
    text-decoration: underline;
}

.regress-td > a {
    color: rgb(60,60,60);
}

.regress-tr:hover > td > a {
    color: #007bff;
}

.filter-item:hover {
    background-color: rgb(243,243,245);
}

.bold-underline {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
}

.label {
    font-size: 12px;
}

.flex-container {
    padding: 0px 0px 15px 0px;
    overflow: hidden;
}

.small-flex-container {
    background-color: white;
    border: 1px solid rgb(229, 233, 242);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    height: 100%;
}

.tab {
    padding: 6px 9px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250,250,250);
    color: rgb(60,60,60);
    font-size: 11px;
    font-family: "Roboto";
    white-space: nowrap;
}

.tab:hover {
    background-color: rgb(50, 70, 95);
    color: rgb(230,234,242);
    opacity: .92;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 160, 160, .5);
    padding: 30px 0px;
    z-index: 1000;
}

.tableau-modal {
    width: 80%;
    margin: 30px auto;
    height: 90%;
    background-color: white;
}

.modal-content-container {
    margin: 15px auto;
    font-family: "Roboto";
    background-color: rgb(250,250,250);
    color: rgb(120,120,120);
    border-radius: 3px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    position: relative;
    font-size: 12px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    animation: .5s ease-in-out long-slide-and-fade-in;
}

.performance-modal {
    height: 90%;
    width: 50%;
}

.drop-down {
    position: absolute;
    z-index: 35;
    background-color: white;
    min-width: 90px;
    visibility: hidden;
    margin-left: 5px;
    box-shadow: 0px 2px 3px -1px rgb(207,207,207);
    border-radius: 1px;
    border: 1px solid rgb(27, 34, 51);
    /* animation: 0.5s linear slide-and-fade-in; */
    transition: .4s linear opacity, .4s linear visibility, .3s linear transform;
    transform: translate(15px, -7px);
}

.small-card {
    height: 180px;
    width: 67%;
    margin: 26px auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2px;
    background-color: white;
    padding: 4px 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: #f3f3f5;
    box-shadow: 0px 0px 5px rgb(147,147,147);
    animation: 1s fade-in;
}

.small-card-date {
    display: flex;
    border-top: 1px solid white;
    font-size: .76em;
    padding: 8px 3px;
    align-items: center;
}

.small-card-health {
    font-size: 30px;
    margin: 20px auto auto;
}

.small-card-title {
    font-size: 18px;
    padding: 5px;
}

.add {
    margin-left: auto;
    color: white;
    font-size: 30px;
    user-select: none;
}

@keyframes grow {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

#row-content {
    width: 80%;
    margin: 20px auto 0px;
    display: flex;
    justify-content: center;
}

.big-card {
    margin-bottom: 18px;
    font-size: 15px;
    border-radius: 2px;
    color: black;
    animation: .5s fade-in;
}

.drop-down-button {
    cursor: pointer;
    user-select: none;
    padding: 6px;
    z-index: 2;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    font-family: "Roboto";
    transition: .4s all;
}


.pipeline {
    justify-content: flex-start;
    font-size: .72em;
}

.arrow {
    margin: -2px;
    font-size: 22px;
}

.filter-block {
    padding: 13px;
    display: flex;
    padding-bottom: 5px;
    flex-flow: column;
}

.card-title {
    margin-top: 5px;
    font-size: 24px;
    border-bottom: none;
    background-color: white;
    padding: 7px 20px;
    display: flex;
    align-items: center;
}

.drop.arrow {
    transform: rotate(90deg);
    transition: 0.3s transform;
}

.climb.arrow {
    transform: rotate(-90deg);
    transition: 0.3s transform;
}

.edge-component {
    position: absolute;
    right: 15px;
    margin-top: -20px;
    top: 30px;
    user-select: none;
}

#drop-down-icon {
    margin-top: -20px;
    cursor: pointer;
    font-size: 40px;
    color: #444444;

}

#drop-down-icon:hover {
    color: #111111;

}

#drop-down {
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 20px;
    flex-flow: wrap;
    font-size: 15px;
    padding: 6px 0px;
    display: none;
    background-color: white;
    color: #555555;
}

.drop-down-options {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.drop-down-options:hover {
    background-color: #cccccc;

}

.big-card-title {
    padding: 15px;
    font-size: 19px;
    align-items: center;
    display: flex;
}

.pie-chart {
    margin-right: auto;
    align-self: flex-end;
}

.pie-container {
    margin: 6px 0px 10px 0px;
    padding-bottom: 10px;
}

.half-title {
    font-size: 15px;
    color: rgb(45,45,45);
    padding: 0px 10px 6px 8px;
    margin: 2px 15px 0px 10px;
    font-weight: 500;
    font-family: "Roboto";
}

.pie-adjust {
    padding: 2px 5px 5px 1px;
    transform: translate(10px, -30px);
}

.title-comments {
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    z-index: 5;
    margin-top: 5px;
    bottom: 6px;
    font-size: 11px;
    color: rgb(160,160,160);
}

.full {
    background-color: #fff;
}

.input-filter {
    padding: 5px;
    outline: none;
    font-size: 14px;
    width: 100%;
    border-right: none;
    border-left: none;
    font-family: "Roboto";
    border-top: none;
    border-bottom: 1px solid rgb(208,208,208);
}

@keyframes large-input-slide-in-and-fade-in {
    0% {
        transform: translate(14px, -20px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(14px, 0px);
    }
}

.large-input-dropdown {
    animation: .5s large-input-slide-in-and-fade-in;
}

.input-title {
    position: absolute;
    color: rgb(150,150,150);
    font-size: 12px;
    top: 15px;
    font-family: "Roboto";
    background-color: white;
    transition: .3s top, .3s font-size, .3s transform;
}

.input-bottom-border {
    display: block;
    margin: auto;
    height: 2px;
    width: 1px;
    background: transparent;
    transition: width 1s ease, background-color 1s ease;
}

#content {
    transition: .5s transform, .2s opacity;
}

#context-side-bar, #context-side-bar-title {
    display: none;
    z-index: 3;
    background-color: white;
    resize: both;
    position: fixed;
    top: 22%;
    left: 5px;
    overflow: auto;
    border: 2px solid black;
    width: 400px;
    height: 600px;
}

#context-side-bar-title {
    top: 15%;
}

#baseline-button:hover {
    opacity: .8;
}

.filter {
    width: 16px;
    margin-right: 5px;
    margin-bottom: -1px;
}

#baseline-button {
    align-items: center;
    border-radius: 4px;
    margin: 4px 6px 2px 4px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    background-color: rgba(234, 90, 90, 1);
    color: white;
    font-size: 12px;
    box-shadow: 0px 1px 2px rgb(180,180,180);
}

.perf-filter-title {
    background-color: #37474f;
    display: flex;
    align-items: center;
    color:white;
    padding: 5px;
}

.perf-modal-close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}

.perf-modal-close:hover {
    opacity: .8;
}

.perf-filter-dropdown {
    border: 1px solid black;
    border-top: none;
    position: absolute;
    z-index: 2;
    display: none;
}

.perf-filter {
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
}

.rotate-arrow {
    transform: rotate(90deg);
    margin: -5px;
    font-size: 25px;
    margin-top: -2px;
}

.perf-filter-row:hover {
    background-color: rgb(230,234,242);
}

.perf-filter-row {
    display:flex;
    border-top: 1px solid black;
    padding: 5px 10px;
    background-color: white;
}

.perf-title {
    font-size: 20px;
    margin-left: 70px;
    margin-top: -55px;
    font-family: "Roboto";
}

.perf-version {
    font-size: 17px;
    color: rgb(140,140,140);
    font-family: "Roboto";
    border-bottom: 1px solid rgb(180,180,180);
}

.error-icon {
    margin-left: 2px;
}

.perf-time {
    font-size: 17px;
    color: rgb(140,140,140);
    border-bottom: 1px solid rgb(180,180,180);
}

.table-caption {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: -3px;
    caption-side: top;
    padding-top: 0px;
    color: rgb(110, 110, 110);
    text-align: center;
    font-family: "Roboto";
}

caption {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    caption-side: top;
    padding-top: 0px;
    color: rgba(160, 160, 160, 1);
    padding-bottom: 2px;
    text-align: center;
    font-family: "Roboto";
}

.content-block {
    padding: 0px 20px 25px 20px;
    color: rgb(0,0,50);
    margin: 0px 20px 0px 5px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

.table-row {
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    margin: 15px 7px;
    font-family: "Roboto";
    color: rgb(40,50,60);
    box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.18);
    flex-basis: 23.6%;
    max-width: 310px;
    word-break: break-word;
}

pre {
    font-size: 12px;
    color: rgb(6, 0, 6);
    font-family: "Roboto";
    margin: -15px 0px 5px 0px;
}

.table-row:hover {
    opacity: 0.8;
}

.performance-table td, .system-table td {
    border-top: 1px solid rgb(238,240,245);
    border-bottom: none;
    vertical-align: top;
    border-left: none;
    background-color: white;
    padding: 8px 2px 13px 2px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(0,0,50);
    border-right: 1px solid rgb(238,240,245);
    font-family: "Roboto";
}

.system-table td {
    font-size: 16px;
    color: black;
    vertical-align: middle;
}

.performance-table td {
    border-bottom: 1px solid rgb(205,205,205);
    border-right: 1px solid rgb(243,243,243);
}

.performance-table, .system-table {
    width: 100%;
}

.baseline-modal-value {
    color: rgb(100,100,100);
}

.baseline-modal-key {
    margin-right: 5px;
    font-weight: 400;
    color: rgb(120,120,120);
}

.system-table {
    border-left: 1px solid rgb(238,240,242);
}

.performance-table th, .system-table th {
    font-size: 12px;
    color: rgb(60,60,60);
    padding: 0px 10px;
    font-weight: 400;
    background-color: white;
    border-left: none;
}

.suite-search {
    /* margin: 5px 20%; */
    /* height: 35px; */
    width: 600px;
    height: 100%;
    border-radius: 50px;
    border: 1px solid rgb(190,190,193);
    font-size: 15px;
    margin-top: 1px;
    /* margin-left: 335px; */
    outline: none;
    /* padding-left: 80px; */
    /* padding: 20px; */
    padding: 0px 15px;
    font-family: "Roboto";
    color: rgb(60,60,60);
}

.system-table th {
    color: rgb(0,0,50);
    border-right: 1px solid rgb(243,243,243);
}

.light-underline {
    /*border-left: 1px solid rgb(225,225,225);*/
    /*border-right: 1px solid rgb(225,225,225);*/
}

th.horizontal-tb-label {
    text-align: start;
    border-top: 1px solid rgb(238,240,245);
    border-bottom: 1px solid rgb(238,240,245);
    background-color: white;
    white-space: nowrap;
    border-right: 1px solid rgb(238,240,245);
}

.horizontal-tb-label.performance {
    border-bottom: 1px solid rgb(210,210,210);
    border-right: 1px solid rgb(243,243,243);
}

.performance-table tbody, .system-table tbody {
    display: table-row-group;
}

.in-progress {
    font-size: 13px;
    color: rgb(170,170,170);
    margin-bottom: 30px;
    margin-top: 20px;
}

.data-card {
    position: relative;
    box-sizing: content-box;
    background-color: white;
    border-radius: 3px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 20px 0px 0px 0px;
    background-color: white;
    padding: 0px 30px 30px 0px;
}

.performance-table table, .system-table table {
    margin: 5px auto 25px;
    border-spacing: 0px;
    border: 1px solid black;
    background-color: white;
}

.pie-text {
    font-size: 10px;
    fill: rgb(180,180,180);
}

/*text {*/
/*    font-size: 12px;*/
/*    fill: rgb(120,120,120);*/
/*}*/

.text {
    font-size: 14px;
    fill: rgb(60,60,60);
}

.destiny-tool-tip {
    position: absolute;
    padding: 5px;
    border: 1px solid rgb(150,150,150);
    font-size: 12px;
    background-color: rgba(80, 82, 80, 1);
    border-radius: 4px;
    display: none;
    opacity: 1;
    color: white;
    z-index: 26;
    word-break: normal;
    animation: .6s fade-in-and-scale;
    transform-origin: top left;
}

.toggle-exec {
    display: flex;
    color: rgb(197, 192, 47);
    user-select: none;
    cursor: pointer;
    align-items: center;
    font-size: .84em;
}

.middle-pie-text {
    stroke-width: 0;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    fill: rgb(36,36,36);
    font-weight: 300;
}

.input-box {
    margin: 0px 5px;
    font-size: 12px;
    width: 80px;
    padding: 6px;
    /* border-radius: 2px; */
    color: rgb(145,145,148);
    background-color: transparent;
    border: 1px solid rgb(145,145,148);
    transition: .3s all;
    outline: none;
    height: 24px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.input-box-title {
    transition: .3s all;
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(145,145,148);
}

.input-box:focus {
    color: rgb(0,125,255);
    border: 1px solid rgb(0,125,255);
    border-left: none;
    border-right: none;
    border-top: none;
}

.arc {
    cursor: pointer;
}

#submit-time {
    border: 1px solid black;
    margin: 5px;
}

#exit-button {
    display: block;
    position: absolute;
    right: 10px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    top: 100px;
}

#submit-versions:hover, #submit-pipeline:hover {
    background-color: #aec7e8;
    color: white;
}

.arrow-back {
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}

.graph-button-block {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    transition: .2s ease-out;
    color: rgb(40,47,64);
    background-color: white;
    font-size: .9em;
    height: 270px;
}

.graph-button-block:hover > .graph-button {
    opacity: 0.92;
    color: white;
    background-color: rgb(40,47,64);
}

.graph-button {
    transition: .2s ease-in-out;
    padding: 5px 10px;
    border: 1px solid rgb(180,180,180);
    color: rgb(120,120,120);
    border-radius: 5px;
}

.graph-button:hover {
    opacity: 0.92;
    color: white;
    background-color: rgb(40,47,64);
}

.run-graph {
    margin: 0px auto;
    overflow-x: auto;
    border-radius: 3px;
    transition: .3s all;
}

.dashboard-item {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 6px 0px, rgba(0, 0, 0, 0.12) 0px 3px 5px 0px;
    border-radius: 3px;
    font-family: "Roboto";
    animation: .6s fade-in;
}

.circle {
    cursor: pointer;
}

.graph-text-format {
    margin-bottom: 1px;
}

.graph-tooltip-title {
    font-weight: 600;
    margin-left: 4px;
}

.title-text {
    font-size: 15px;
}

@media only screen and (max-width: 1600px) {
    .small-card {
        height: 135px;
    }
    .small-card-health {
        font-size: 23px;
        margin: 12px auto auto;
    }
    .small-card-date {
        font-size: 8px;
        padding: 6px;
    }
    .small-card-title {
        font-size: 14px;
        padding: 4px;
    }
    .label {
        font-size: 10px;
    }
    .graph-button {
        margin: 0px 20px;
    }
    .toggle-title {
        font-size: 13px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 1400px) {
    .small-card {
        height: 120px;
    }
    .small-card-health {
        font-size: 19px;
        margin: 10px auto auto;
    }
    .small-card-date {
        font-size: 8px;
        padding: 4px;
    }
    .small-card-title {
        font-size: 13px;
        padding: 3px;
    }
    .row-element {
        font-size: 11px;
    }
    .table-row {
        font-size: 13px;
    }
    .label {
        font-size: 8px;
    }
    .cancel {
        top: 13px
    }
    .toggle-title {
        font-size: 12px;
        margin-left: 6px;
    }
}

.main-container {
    padding: 110px 0px 0px 70px;
}

.nav-item-label {
    display: none;
    font-family: "Raleway";
    font-size: 13px;
    border-left: 1px solid black;
    padding-left:20px;
}

@media only screen and (min-width: 2000px) {
    .top-select {
        transform: translateX(140px);
        padding-right: 140px;
    }
    .navbar {
        transform: translateX(0px);
    }
    .moving-vertical-border {
        width: 206px;
    }
    .main-container {
        padding: 110px 0px 0px 210px;
    }
    .nav-item-label {
        display: block;
        margin-left: 30px;
    }
    .nav-item {
        padding-left: 20px;
        justify-content: start;
    }
    .side-nav {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1700px) {
    .input-title {
        font-size: 12px;
        top: 15px;
    }
    .large-input-tab {
        font-size: 13px;
    }
    .suite-search {
        width: 550px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1650px) {
    .perf-title {
        margin-bottom: 9px;
    }
    .table-caption {
        font-size: 16px;
    }

}

@media only screen and (max-width: 1600px) {
    .suite-search {
        width: 470px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {
    .input-title {
        font-size: 9px;
        top: 15px;
    }
    .input-filter {
        font-size: 10px
    }
    .suite-search {
        width: 370px;
        font-size: 13px;
    }
    .large-input-tab {
        font-size: 12px;
    }
}
