.delete-issue:hover {
    outline: 1px solid rgb(200,200,200);
}

.delete-issue {
    color: rgb(80,80,80);
    font-size: 18px;
}

.issue-url:hover {
    color: rgb(100,160,230);
}

.issue-url {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}
